<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="br.net.ops.fiscalize.domain.Cota" />
        <mapping class="br.net.ops.fiscalize.domain.Despesa" />
        <mapping class="br.net.ops.fiscalize.domain.NotaFiscal" />
        <mapping class="br.net.ops.fiscalize.domain.Parlamentar" />
        <mapping class="br.net.ops.fiscalize.domain.Partido" />
        <mapping class="br.net.ops.fiscalize.domain.Uf" />
    </session-factory>
</hibernate-configuration>